{% extends '../common/base.twig' %}

{% block head %}
  {{ parent() }}
  <title> Tickets </title>
{% endblock %}

{% block content %}
  <div class="container" >
    {% if list %}
      {% for item in list %}
        <h4><a href="/ticket/{{ item.issue }}" > {{ item.title }} </a></h4>
        <p> {{ item.description }} </p>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
